{% extends 'base.html' %}

{% block content %}



    <main>
        <h2>Het bestuur</h2>
        <p>Onze buurtvereniging wordt gedragen door een enthousiast bestuur van vijf mensen:</p>
        <ul>
            <li>👤 Ronald van Zwienen – Voorzitter</li>
            <li>👤 Ella Ploeg – Secretaris</li>
            <li>👤 Henk Hofstede – Penningmeester</li>
            <li>👤 Hans van Deuren – Bestuurslid</li>
            <li>👤 Theo Stekelenburg – Bestuurslid</li>
        </ul>
    </main>

{% endblock %}