{% extends "base.html" %}

{% block content %}



 <h1>Bedrijveninformatie</h1>

  <div class="bedrijf">
    <img src="/static/uploads/sponsers/de_barbecue_meneer.png" alt="Logo De Barbecue Meneer">
    <h2>De Barbecue Meneer</h2>
    <p>
      Contact maken voor een barbecue op de door jou gewenste locatie, die geheel naar jouw wens en verwachting zal worden uitgevoerd.
    </p>
    <p>
      <strong>Geert Jan Wals</strong><br>
      <strong>Tel:</strong> 06-53972550<br>
      <strong>Email:</strong> <a href="mailto:info@debarbecuemeneer.nl">info@debarbecuemeneer.nl</a>
    </p>
  </div>

  <hr class="separator">

  <div class="bedrijf">
    <img src="/static/uploads/sponsers/PHIELIX_verzekeringen.png" alt="Logo Phielix Verzekeringen">
    <h2>Phielix Verzekeringen</h2>
    <p>
      U kunt bij ons terecht voor: Betalen – Sparen – Hypotheken – Jeugd – Zakelijk – Aanvullend pensioen – Beleggen – Lenen
    </p>
    <p>
      <strong>Telefoon:</strong> 0182-395588<br>
      <strong>Email:</strong> <a href="mailto:info@phielixgroep.nl">info@phielixgroep.nl</a><br>
      <strong>Openingstijden:</strong> maandag t/m vrijdag tussen 09:00 en 17:00<br>
      <strong>Adres:</strong> Van Leeuwenhoekstraat 19, 2811 DW Reeuwijk
    </p>
  </div>

  <hr class="separator">

  <div class="bedrijf">
    <img src="/static/uploads/sponsers/plus.png" alt="Logo PLUS De Heester">
    <h2>PLUS De Heester</h2>
    <p>
      <strong>Gerard Versluis</strong><br>
      <strong>Mobiel:</strong> 06-15091667<br>
      <strong>Adres:</strong> Vuurdoornlaan 10, 2803 BB Gouda<br>
      <strong>Email:</strong> <a href="mailto:deheester.gouda@coop.nl">deheester.gouda@coop.nl</a><br>
      <strong>Telefoon:</strong> 0182-696990
    </p>
  </div>

  <hr class="separator">

  <div class="bedrijf">
    <img src="/static/uploads/sponsers/bos_schoonmaakservice.png" alt="Logo BOS Schoonmaakservice">
    <h2>BOS Schoonmaakservice</h2>
    <p>
      <strong>Albert Bos</strong><br>
      <strong>Adres:</strong> Korenmolen 68, 2406 KD Alphen a/d Rijn<br>
      <strong>Mobiel:</strong> 06-41995821<br>
      <strong>Telefoon:</strong> 0172-897926<br>
      <strong>Email:</strong> <a href="mailto:info@bos-schoonmaak.nl">info@bos-schoonmaak.nl</a>
    </p>
  </div>

{% endblock %}